* {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bebida.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    background: #1a1a1a;
}

section {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    padding: 1rem;
    font-size: 1vw;
}

form {
    width: 95%;
}


#limpar {
    margin-left: 17px;
}

.bi {
    width: 21px;
    height: 21px;
}

svg.bi.bi-x-lg {
    width: 15px;
}

svg.bi.bi-search {
    width: 15px;
}


#limite-tabela {
    height: 600px !important;
    max-height: 650px !important;
    overflow-x: hidden;
}

table {
    margin-top: -50px;
}

.form-control {
    margin-bottom: 40px;
}