* {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-image: url(../img/pagcadcliente.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
}

#conteudo {
  background-color: rgb(51, 50, 50);
  padding: 30px;
  border-radius: 5px;
  top: 48%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  width: 99vh;
}

#conteudo label, h3 {
  color: #fff;
}

nav {
  background: #1a1a1a;
}